<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Técnica do Personagem</title>
    <link rel="stylesheet" href="../static/css/style-ficha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sheet-container">
        <div class="character-sheet">
            <header class="sheet-header">
                <h1>{{ personagem.nome }}</h1>
                <p class="character-subtitle">{{ personagem.raca.nome }} {{ personagem.classe.nome}}, Nível {{ personagem.nivel }}</p>
            </header>

            <main class="sheet-main">
                <section class="attributes">
                    <h3>Atributos</h3>
                    <ul>
                        {% for atributo, valor in personagem.atributos.items() %}
                            <li><strong>{{ atributo }}:</strong> {{ valor }}</li>
                        {% endfor %}
                    </ul>
                </section>
            </main>
            <footer class="sheet-footer">
                <a href="/">Voltar à Criação</a>
            </footer>
        </div>
    </div>
</body>
</html>